{% extends 'frontend.html.twig' %}


{% block body %}
    <div class="row py-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    MATCHS
                </div>
                <div class="card-body"
                     style="padding-top: 0;">
                    <section id="tabs"
                             class="project-tab">
                        <nav>
                            <div class="nav nav-tabs nav-fill"
                                 id="nav-tab"
                                 role="tablist">
                                <a class="nav-item nav-link active"
                                   id="nav-home-tab"
                                   data-toggle="tab"
                                   href="#nav-home"
                                   role="tab"
                                   aria-controls="nav-home"
                                   aria-selected="true">2019-2020</a>
                                <a class="nav-item nav-link"
                                   id="nav-profile-tab"
                                   data-toggle="tab"
                                   href="#nav-profile"
                                   role="tab"
                                   aria-controls="nav-profile"
                                   aria-selected="false">2018-2019</a>
                                <a class="nav-item nav-link"
                                   id="nav-contact-tab"
                                   data-toggle="tab"
                                   href="#nav-contact"
                                   role="tab"
                                   aria-controls="nav-contact"
                                   aria-selected="false">2017-2018</a>
                                <a class="nav-item nav-link"
                                   id="nav-2016-2017-tab"
                                   data-toggle="tab"
                                   href="#nav-2016-2017"
                                   role="tab"
                                   aria-controls="nav-contact"
                                   aria-selected="false">2016-2017</a>
                            </div>
                        </nav>
                        <div class="tab-content"
                             id="nav-tabContent">
                            <div class="tab-pane fade show active"
                                 id="nav-home"
                                 role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3 mt-2">
                                        <div class="card">
                                            <img src="{{ asset('images/07-09-2019_CSSREIMS-ESSVITRY.jpg') }}"
                                                 class="card-img-top"
                                                 alt="...">
                                            <div class="card-body">
                                                <h6 class="card-title">CSS REIMS - ESS VITRY DU 07-09-2019</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mt-2">
                                        <div class="card">
                                            <img src="{{ asset('images/14-09-2019_CSSMP-CSSREIMS.jpg') }}"
                                                 class="card-img-top"
                                                 alt="...">
                                            <div class="card-body">
                                                <h6 class="card-title">CSSM PARIS - CSS REIMS DU 14-09-2019</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mt-2">
                                        <div class="card">
                                            <img src="{{ asset('images/13-10-2019_CSSREIMS-ACSSMULHOUSE.jpg') }}"
                                                 class="card-img-top"
                                                 alt="...">
                                            <div class="card-body">
                                                <h6 class="card-title">CSS REIMS - ACSS MULHOUSE DU 13-10-2019</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mt-2">
                                        <div class="card">
                                            <img src="{{ asset('images/13-10-2019_CSSREIMS-ACSSMULHOUSE.jpg') }}"
                                                 class="card-img-top"
                                                 alt="...">
                                            <div class="card-body">
                                                <h6 class="card-title">CSS REIMS - ACSS MULHOUSE DU 13-10-2019</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mt-2">
                                        <div class="card">
                                            <img src="{{ asset('images/13-10-2019_CSSREIMS-ACSSMULHOUSE.jpg') }}"
                                                 class="card-img-top"
                                                 alt="...">
                                            <div class="card-body">
                                                <h6 class="card-title">CSS REIMS - ACSS MULHOUSE DU 13-10-2019</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mt-2">
                                        <div class="card">
                                            <img src="{{ asset('images/13-10-2019_CSSREIMS-ACSSMULHOUSE.jpg') }}"
                                                 class="card-img-top"
                                                 alt="...">
                                            <div class="card-body">
                                                <h6 class="card-title">CSS REIMS - ACSS MULHOUSE DU 13-10-2019</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade"
                                 id="nav-profile"
                                 role="tabpanel"
                                 aria-labelledby="nav-profile-tab">

                            </div>
                            <div class="tab-pane fade"
                                 id="nav-contact"
                                 role="tabpanel"
                                 aria-labelledby="nav-contact-tab">

                            </div>
                            <div class="tab-pane fade"
                                 id="nav-2016-2017"
                                 role="tabpanel"
                                 aria-labelledby="nav-2016-2017-tab">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3 mt-2">
                                        <div class="card">
                                            <img src="{{ asset('images/2017_CSSSREIMS.jpg') }}"
                                                 class="card-img-top"
                                                 alt="...">
                                            <div class="card-body">
                                                <h6 class="card-title">CSS REIMS - ESS VITRY DU 07-09-2019</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}